<table align="center" cellpadding="50" style="border-collapse: collapse" id="result">
    <tr>
        {% for i in seller %}

        <td>
            <div style="text-align:center;border:1px solid black;margin:22px;padding:20px">

                <p><img src="{{i.sllrphoto.url}}" width="100px" height="100px" /></p>
                <br>
                <p>{{i.sllrname}}</p>
                <br>
                <p>{{i.sllrcontact}}</p>
                <br>
                <p>{{i.sllremail}}</p>
                <br>
                <p><a href="{% url 'WebUser:view_product' i.id %}"  style="color: red;">Viewproduct</a><br></p>
                <br>
            </div>
        </td>
        {% if forloop.counter|divisibleby:4 %}
    </tr>
    <tr>
        {% endif %}


        {% endfor %}
</table>