{% extends 'Admin/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <table border="1" align="center">
            <tr> 
                <td> Category</td>
                <td>
                    <input type="text" name="txtcat" value="{{editcat.cat_name}}" autocomplete="off" required="">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="btn1" value="Save">
                    <input type="Reset" name="btn2" value="Cancel">

                </td>
            </tr>
        </table>
        <br>
        <table border="1" align="center">
            <tr>
                <td>Sl_No</td>
                <td>Category</td>
                <td align="center" colspan="2">Action</td>
            </tr>
            {% for i in viewcat %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.cat_name}}</td>
                <td><a href="{% url 'WebAdmin:deletecategory' i.id %}">Delete</a></td>
                <td><a href="{% url 'WebAdmin:editcategory' i.id %}">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
</body>
</html>

{% endblock content %}