{% extends 'Admin/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <table border="1" align="center">
            <tr>
                <td>District</td>
                <td>
                    <input type="text" name="txtdis" value="{{editdis.dis_name}}" autocomplete="off" required="">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Save" name="btn">
                    <input type="reset" value="cancel" name="btn1">
                    
                </td>
            </tr>
        </table>
        <br>
        <table border="1" align="center">
            <tr>
                <td>Sl.No</td>
                <td>District</td>
                <td>Action</td>
            </tr>
            {% for i in viewdis %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.dis_name}}</td>
                <td><a href="{% url 'WebAdmin:deletedistrict' i.id %}">Delete</a></td>
                <td><a href="{% url 'WebAdmin:editdistrict' i.id %}">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>

{% endblock content %}