{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Ready Bootstrap Dashboard</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="stylesheet" href="{% static 'Admin/assets/css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{% static 'Admin/https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i'%}">
	<link rel="stylesheet" href="{% static 'Admin/assets/css/ready.css'%}">
	<link rel="stylesheet" href="{% static 'Admin/assets/css/demo.css'%}">
</head>
<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="#" class="logo">
					Admin Dashboard
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">
					
					<form class="navbar-left navbar-form nav-search mr-md-3" action="">
						
					</form>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

						<li class="nav-item dropdown">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="{% static 'Admin/assets/img/men.png'%}" alt="user-img" width="36" class="img-circle"><span >Lakshman</span></span> </a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<div class="user-box">
										<div class="u-img"><img src="{% static 'Admin/assets/img/men.png'%}" alt="user"></div>
										<div class="u-text">
											<h4>Lakshman</h4>
											<p class="text-muted">lakshman@gmail.com</p><a href="{% url 'WebAdmin:logout' %}" class="btn btn-rounded btn-danger btn-sm">Logout</a></div>
										</div>
									</li>
									<div class="dropdown-divider"></div>
									
								</ul>
								<!-- /.dropdown-user -->
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<div class="sidebar">
				<div class="scrollbar-inner sidebar-wrapper">
					<ul class="nav">
						<li class="nav-item active">
							<a href="{% url 'WebAdmin:Insert_Dis' %}">
								<p>District</p>	
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'WebAdmin:Insert_Plc' %}">
								<p>Place</p>	
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'WebAdmin:Insert_Cat' %}">
								<p>Category</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'WebAdmin:Insert_SubCatg' %}">
								<p>Subcategory</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'WebAdmin:Insert_newsllr' %}">
								<p>New Seller</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'WebAdmin:Insert_acptsllr' %}">
								<p>Accepted Seller</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'WebAdmin:Insert_rjctsllr' %}">
								<p>Rejected Seller</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'WebAdmin:Viewcomplaint' %}">
								<p>Complaint</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'WebAdmin:Viewfeedback' %}">
								<p>Feedback</p>
							</a>
						</li>
				
					</ul>
				</div>
			</div>
			<br><br><br><br><br>
            {% block content %}



            {% endblock content %}
			<br><br><br><br><br>
			<br><br><br><br><br>
			
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="http://www.themekita.com">
                                    ThemeKita
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Help
                                </a>
                            </li>
                            
                        </ul>
                    </nav>
                    <div class="copyright ml-auto">
                        <a href="#">2023, Homemade Product Selling </a>
                    </div>				
                </div>
            </footer>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title"><i class="la la-frown-o"></i> Under Development</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">									
                <p>Currently the pro version of the <b>Ready Dashboard</b> Bootstrap is in progress development</p>
                <p>
                    <b>We'll let you know when it's done</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="{% static 'Admin/assets/js/core/jquery.3.2.1.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/core/popper.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/core/bootstrap.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/plugin/chartist/chartist.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js'%}"></script>

<script src="{% static 'Admin/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/plugin/jquery-mapael/jquery.mapael.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/plugin/jquery-mapael/maps/world_countries.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/plugin/chart-circle/circles.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/ready.min.js'%}"></script>
<script src="{% static 'Admin/assets/js/demo.js'%}"></script>